.bordertop {
    border-top: 1px solid #ff0000;
}

.borderbottom {
    border-bottom: 1px solid #00ff00;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.borderright {
    border-right: 1px solid #0000ff;
}

.borderleft {
    border-left: 1px solid #ff00ff;
}

.rainbowborder {
    border-top: 1px solid #ff0000;
    border-bottom: 2px solid #00ff00;
    border-right: 3px solid #0000ff;
    border-left: 4px solid #ff00ff;
}

h1 {
    border-bottom: 5px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid #000000;
    padding: 0;
    margin: 0 20px 20px 0;
    width: 150px;
    background-color: #cc0000;
    color: #ffffff;
    display: inline-block;
}

nav li a {
    color: #ffffff;
    display: block;
    padding: 20px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a:hover {
    background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}